.wrap{
    margin: 100px 0;

}

.info{
    height: 150px;
    background-image: url("../resource/homepage/infobar.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
}

#infobar{
    text-align: center;
    padding-top: 50px;
}

#album_border{
    background-color: #fafbfcc4;
}

.row.album{
    margin: 15px 0;
}

.box{
    overflow: hidden;
}

.photo{
    height: 280px;
}