#row1{
    color: #565555;
    margin-top: 100px;
}

#listgroup>.form-group{
    font-size: initial;
    padding: 10px 0;
}

#content-part{
    padding: 20px 40px;
    background-color: #f7f7f79c;
    border: solid 1px #eeeeee9c;
    border-radius: 5px;
}


a.btn-publish {
    /*垂直居中，父元素须设置为relative*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../resource/settings/gou.png");



    text-align: center;
    font-size: small;
    padding: 6px 8px;
    width: 80px;
    height: 25px;
    vertical-align: middle;
    background: #DC552C;
    opacity: 1;
    border: 0;
    border-radius: 17px;
    color: #f1f1f1;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

a.btn-publish:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    color: #fff; }

a.btn-publish:active {
    outline: 0;
    opacity: 1;
    color: #fff;
    text-decoration: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

a.btn-publish:focus {
    outline: 0;
    opacity: 1;
    text-decoration: none;
    background: #d1431f;
    color: #eeeeee; }

a.btn-save{
      /*垂直居中，父元素须设置为relative*/
    position: absolute;
    top: 50%;
    background-image: url("../resource/settings/gou2.png");
    background-size:cover ;
    text-align: center;
    font-size: small;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    vertical-align: middle;
    opacity: 1;
    border: 0;
    border-radius: 17px;
    color: #f1f1f1;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;

}
#label_name{
    text-align: right;
}
#port{
    margin-top: -70px;
}

label{
    text-align: right;
}

.form_button{

    cursor: pointer;
    position: absolute;
    top:0;
    left: 0;
    display: inline-block!important;
    width: 68px;
    height: 27px;
    opacity: 0;
}


textarea.form-control{
    resize: none;
    height: 80px!important;
    width: 250px!important;
}


.form-group>.form-control{
    /*margin: 0 20px!important;*/
    display: inline-block;
    height: 25px;
    opacity: 0.9;
    width: 150px;
}

