<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>想当年</title>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navigation-bar.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/menu-button.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/settings.css" />
     <link rel="stylesheet" type="text/css" href="/static/css/portrait.css" />
    <script src="/static/js/jquery.form.min.js"></script>
    <script src="/static/js/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7243260-2']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script>
       {% comment %} $(document).ready(function () {
             $('#save-form').submit(function(){
                $.ajax({
                    url:"{% url 'memory:user_setting' %}",
                    data:$('#save-form').serialize(),
                    dataType:"json",
                    error:function(data){
                        alert("hi");
                    },
                    success:function(data){
                        alert(data);
                    }
                });
             });

            $("#save-btn").click(function () {
                $.getJSON("{% url 'memory:user_setting' %}",function(data){
                if(data.is_success=="success"){
                    alert("设置成功！");
                }
                else{
                    alert("设置失败，请重新设置！");
                }


            });
            })
        }){% endcomment %}

        //数据提交到后台但是不进行页面跳转的操作：
       //form标签增加一个onsubmit属性调用saveAction()函数，利用ajax提交而form自己不提交
        function saveAction() {
            $("#save-form").ajaxSubmit(function (data) {
                if(data.is_success=="success"){
                    if (data.portrait_url!="not_portrait"){
                        $("#head").attr("src",data.portrait_url)
                    }
                    else{
                        $("#head").attr("src","{{ request.user.portrait_url }}")
                    }
                    alert("设置成功！");

                }
                else if(data.is_success=="portrait_failure"){
                    alert("头像上传失败，请重试！");
                }
                else if(data.is_success=="not_change"){
                    alert("您未做任何更改！")
                }
            })

            return false;//必须返回false，否则表单自己再做一次提交操作并且页面跳转
        }
    </script>


</head>
<body>
    <!--导航栏-->
    <div class="container">
        <div class="row" id="nav">

            <div class="col-sm-1 col-sm-offset-1">
                <img src="/static/resource//homepage/logo.png" class="img-responsive" id="logoimg" alt="Responsive image">
            </div>
            <div class="col-sm-3 col-sm-offset-6">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control" placeholder="Search for...">

                </div>
            </div>
            <div class="col-sm-1" >
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" >
                        <img src="/static/resource//homepage/more.png" id="moreimg" >
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel" >
                        <li><a href="{% url 'logout' %}?next{{ request.path }}"><span style="color: #6c757d">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp退出登录</span></a></li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--正文编辑处-->
    <div class="container">
        <div class="row" id="row1">
            <div class="col-md-6 col-xs-4 col-xs-offset-2 col-md-offset-3" id="content-part">
                <form enctype="multipart/form-data" action="{% url 'memory:user_setting' %}" method="post" id="save-form" onsubmit="return saveAction();">
                    {% csrf_token %}
                    <div id="listgroup">
                      <div class="form-group row">
                          <div class="col-sm-2" >
                             <div id="portrait">
                              <img  src="{{ request.user.portrait_url }}"  id="head" >
                             </div>
                          </div>
                          <a class="btn-publish col-sm-2 col-sm-offset-2">
                              <input class="form_button" id="set-portrait" type="file" name="portrait">
                              更改头像
                          </a>
                      </div>
                      <div class="form-group row">
                          <label for="nickname" class="col-sm-2">昵称</label>
                          <input class="form-control col-sm-2 col-sm-offset-2" id="nickname" type="text" name="nickname" placeholder={{ request.user.nickname }}>
                      </div>
                      <div class="form-group row">
                          <label for="title" class="col-sm-2">个人简介</label>
                          <textarea class="form-control col-sm-2 col-sm-offset-2" id="title" name="title" placeholder={{ request.user.title }}></textarea>
                      </div>
                      <div class="form-group row">
                          <label for="download" class="col-sm-4">打包下载所有文章</label>
                          <a class="btn-publish col-sm-2">
                              <input class="form_button" id="download" type="file" name="portrait">
                              打包下载
                          </a>
                      </div>
                      <div class="form-group row">
                          <a class="btn-publish col-sm-2 col-sm-offset-4">
                              <input class="form_button" type="submit" id="save-btn">
                              保存设置
                          </a>

                      </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <!--下方按钮-->
    <div class="container">
        <div class="component">
            <!-- Start Nav Structure -->
            <button class="cn-button" id="cn-button">+</button>
            <div class="cn-wrapper" id="cn-wrapper">
                <ul>
                    <li><a href="{% url 'memory:writing' %}"><span class="icon-pencil"></span></a></li>
                    <li><a href="{% url 'memory:album' %}"><span class="icon-picture"></span></a></li>
                    <li><a href="{% url 'memory:homepage' %}"><span class="icon-home"></span></a></li>
                    <li><a href="{% url 'memory:browsing' %}"><span class="icon-th"></span></a></li>
                    <li><a href="{% url 'memory:settings' %}"><span class="icon-cog"></span></a></li>
                </ul>
            </div>
            <div id="cn-overlay" class="cn-overlay"></div>
            <!-- End Nav Structure -->
        </div>
    </div><!-- /container -->

    <script src="/static/js/polyfills.js"></script>
    <script src="/static/js/homepageJS-1.js"></script>

</body>

</html>