<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>想当年</title>

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navigation-bar.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/menu-button.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/writing.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    <script src="/static/js/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7243260-2']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        /**
         * 从 file 域获取 本地图片 url
         */
        function getFileUrl(sourceId) {
            var url;
            if (navigator.userAgent.indexOf("MSIE")>=1) { // IE
                url = document.getElementById(sourceId).value;
            } else if(navigator.userAgent.indexOf("Firefox")>0) { // Firefox
                url = window.URL.createObjectURL(document.getElementById(sourceId).files.item(0));
            } else if(navigator.userAgent.indexOf("Chrome")>0) { // Chrome
                url = window.URL.createObjectURL(document.getElementById(sourceId).files.item(0));
            }
            return url;
        }

        /**
         * 将本地图片 显示到浏览器上
         */
        function preImg(sourceId, targetId) {
            var url = getFileUrl(sourceId);
            var imgPre = document.getElementById(targetId);
            imgPre.src = url;
        }

        $(".a-upload").on("change","input[type='file']",function(){
            var filePath=$(this).val();
            if(filePath.indexOf("jpg")!=-1 || filePath.indexOf("png")!=-1){
                $(".fileerrorTip").html("").hide();
                var arr=filePath.split('\\');
                var fileName=arr[arr.length-1];
                $(".showFileName").html(fileName);
            }else{
                $(".showFileName").html("");
                $(".fileerrorTip").html("您未上传文件，或者您上传文件类型有误！").show();
                return false
            }
        })
    </script>


</head>
<body>
    <!--导航栏-->
    <div class="container">
        <div class="row" id="nav">

            <div class="col-sm-1 col-sm-offset-1">
                <img src="/static/resource//homepage/logo.png" class="img-responsive" id="logoimg" alt="Responsive image">
            </div>
            <div class="col-sm-3 col-sm-offset-6">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control" placeholder="Search for...">

                </div>
            </div>
            <div class="col-sm-1" >
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" >
                        <img src="/static/resource//homepage/more.png" id="moreimg" >
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel" >
                        <li><a href="{% url 'logout' %}?next{{ request.path }}"><span style="color: #6c757d">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp退出登录</span></a></li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--正文编辑处-->
    <div class="container">
        <div class="inner-bg">
            <!--tool bar-->
            <form action="{% url 'memory:publish' %}" method="post">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 form-box">

                            <!--top three-->
                            <div class="col-sm-10">
                                <div class="form-left-top">
                                    <a href="#" class="file"><img src="/static/resource/writing/pic.png" id="img-pic">
                                        <input type="file" name="imgOne" id="imgOne" class="input-file" onchange="preImg(this.id,'imgPre');" />

                                    </a>
                                    <img src="/static/resource/writing/save.png"  id="img-save">
                                    <img src="/static/resource/writing/font.png" id="img-font">
                                    <div class="wysiwyg-controls">

                                        <a href='#' data-role='bold'>B</a>
                                        <a href='#' data-role='italic'>I</a>
                                        <a href='#' data-role='underline'>U</a>
                                        <a href='#' data-role='justifyleft'><i class="menu-left"></i></a>
                                        <a href='#' data-role='justifycenter'><i class="menu-center"></i></a>
                                        <a href='#' data-role='justifyright'><i class="menu-right"></i></a>
                                    </div>
                                </div>

                                    <div class="wysiwyg-content" contenteditable>
                                        <!--<div class="form-bottom">-->
                                        <br>
                                        <b><h1>Let's make a statement!</h1></b>
                                        <br>
                                        <i>This is an italicised sentence.</i>
                                        <br>
                                        <u>Very important information.</u>
                                    </div>
                                    <img id="imgPre" src="" width="100px" height="100px" alt="请插入图片" style="display: block;" />
                            </div>
                            <!--publish-->

                            {% csrf_token %}
                                <div class="col-sm-2 ">
                                    <div class="form-right-top">
                                        <div class="form-button">
                                            <button type="submit" class="btn-publish">发布</button>
                                        </div>
                                    </div>
                                </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--下方按钮-->
    <div class="container">
        <div class="component">
            <!-- Start Nav Structure -->
            <button class="cn-button" id="cn-button">+</button>
            <div class="cn-wrapper" id="cn-wrapper">
                <ul>
                    <li><a href="{% url 'memory:writing' %}"><span class="icon-pencil"></span></a></li>
                    <li><a href="{% url 'memory:album' %}"><span class="icon-picture"></span></a></li>
                    <li><a href="{% url 'memory:homepage' %}"><span class="icon-home"></span></a></li>
                    <li><a href="{% url 'memory:browsing' %}"><span class="icon-th"></span></a></li>
                    <li><a href="{% url 'memory:settings' %}"><span class="icon-cog"></span></a></li>
                </ul>
            </div>
            <div id="cn-overlay" class="cn-overlay"></div>
            <!-- End Nav Structure -->
        </div>
    </div><!-- /container -->

    <script src="/static/js/polyfills.js"></script>
    <script src="/static/js/homepageJS-1.js"></script>

</body>
<script src="/static/js/prefixfree.min.js"></script>
<script src='/static/js/jquery.js'></script>

<script src="/static/js/index.js"></script>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</html>