.wrap{
    margin: 100px 0;

}

.info{
    margin-top: -35px;
    z-index: -1;
    background-image: url("../resource/homepage/infobar.png");
    background-repeat: no-repeat;
    background-size:cover;
}

#infobar{
    text-align: center;
    padding-top: 85px;
    padding-bottom: 50px;
}

#album_border{
    background-color: #fafbfcc4;
}

.row.album{
    margin: 15px 0;
}

.box{
    overflow: hidden;
}

.photo{
    height: 280px;
}