@font-face
{
    font-family: Hiragino Sans GB;
    src: url('../font/Hiragino Sans GB.ttc')
}

body{
    text-align: center;
    background-image: url("../resource/homepage/bg.png");
    /*背景拉伸不重复*/
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica, Arial, Hiragino Sans GB, "冬青黑体简体中文", Microsoft YaHei, "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

}

[class *= col-]{
    padding-right: 0;
    padding-left: 0;
}


.carousel-indicators {
    bottom: -80px;
}


.logo{
    padding: 0 0 20px 0;
}
.logo img{
    width: 200px;
}
.inner-bg {
    padding: 100px 0 0 0;
}

h1, h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}


.form-right{
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background: rgba(64, 73, 105, 0.86);
    height: 350px;
}

/*登录 注册切换部分*/

.form-top {
    overflow: hidden;
    padding: 20px 60px 10px 40px;

    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: left;
}
/*输入框部分*/
.form-bottom {
    padding: 5px 80px 30px 40px;
    height: 230px;
    -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0; border-radius: 0 0 0 0;
    text-align: left;
}
.form-button{
    padding-left: 40px;
    text-align: left;
}
.form-button a{
    margin-left: 20px;
    top:5px;
}
.form-group{
    text-align: left;
    margin-bottom: 5px;
}
/*输入框*/
.form-group input{
    border-left: none;border-top: none;border-right: none;
    border-bottom-color: #0c5460;
    box-shadow: none;
}
.form-control{
    height:27px;
    padding: 0 0;
}

/*轮换界面部分*/
.form-left{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;

    background: rgba(189, 228, 244, 0.64);
    height: 350px;
}

label{
    font-size: 12px;
    color: #eeeeee;
    font-weight: normal;
    margin-bottom: 2px;
}

/*每日推荐*/
.form-left-top h1{
    margin-top: 0;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 100;
    color: rgba(30, 53, 85, 0.71);
    line-height: 50px;
    text-align: center;
}

/*故事推荐*/
.form-left-bottom{
    text-align: center;
    padding: 25px 40px 30px 40px;

}

.nav>li>a:focus, .nav>li>a:hover {

    background-color: rgba(64, 73, 105, 0.0);
}
/*按钮浮动时的样式*/
.nav-tabs>li>a {
    border-radius: 0 0 0 0;
    border: none;
    margin-right: 0;
    color: #d2d2d2;
    border-bottom: 1px solid rgba(30, 53, 85, 0.00);
    -o-transition: all 1s; -moz-transition: all 1s; -webkit-transition: all 1s; -ms-transition: all 1s; transition: all 1s;

}
.nav-tabs {
     border-bottom: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: rgba(64, 73, 105, 0.0);
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color:#DC552C;


}




.nav-tabs>li>a:hover {
    color: #ffffff;
    border-bottom-color:rgba(30, 53, 85, 0.00) ;
}





.form-control:focus {
    border-color: #eeeeee;

}

a{
    color: #eeeeee;
}

a:focus, a:hover {
    color: #eeeeee;

}



a:focus {
    outline: none;
    /* outline: 5px auto -webkit-focus-ring-color; */
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #ffffff;
    background-color: rgba(64, 73, 105, 0.00);
    border-top: none;
    border-left: none;
    border-right: none;


}


.carousel > .left, .carousel > .right {
    background-image: none;
}

.carousel-control.left,.carousel-control.right{
    background-image: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 2px;
    text-indent: -999px;
    border: 1px solid #DC552C;
    /*border-radius: 10px;*/
    cursor: pointer;
    /*background-color: #DC552C;*/
}
.carousel-indicators li .active{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 2px;
    text-indent: -999px;
    border: 1px solid #DC552C;
    border-radius: 10px;
    cursor: pointer;

}
.carousel-indicators .active {
    margin: 2px;
    width: 9px;
    height: 9px;

    background-color: #DC552C;

}


.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color:transparent;
    text-align: center;
    text-shadow: none;
    filter: alpha(opacity=0);

}
.carousel-control:focus, .carousel-control:hover {
    color: transparent;
    text-decoration: none;
    filter: alpha(opacity=0);
    outline: 0;
    text-shadow: none;
    opacity: 0;
}